.translate-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#translateBtn:hover { background-color: #34495e; }

body {
    font-family: 'Times New Roman', serif;
    background: linear-gradient(to bottom, #d9f7f7, #fff);
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Times New Roman';
    transition: .3s;
}
button:hover { opacity: .8; }

.mode-btn { background:#333; color:white; }
.stop-btn { background:#550; color:white; }
.play-btn { background:#2f7; color:black; }
.exit-btn { background:#800; color:white; }

.top-controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.music-controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.exit-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

h1 {
    color:#00695c;
    margin:5px;
    font-size:2.1rem;
    font-weight:bold;
}

p {
    color:#004d40;
    font-size:1.05rem;
    margin-bottom:18px;
}

.input-group {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

label { 
    font-size:1rem; 
    font-weight:600; 
    color:#00594e; 
}

input, select {
    padding:9px;
    margin-top:4px;
    border-radius:8px;
    border:1px solid #009688;
    font-size:1rem;
}

input:focus, select:focus { border-color:#004d40; }

.result-card {
    margin-top:25px;
    padding:20px;
    width:320px;
    border-radius:15px;
    background:#b2dfdb;
    text-align:center;
    display:none;
    animation: pop .45s ease-out;
}

@keyframes pop {
    0%{transform:scale(.7);opacity:0;}
    100%{transform:scale(1);opacity:1;}
}

#catImage {
    width:175px;
    border-radius:12px;
    border:2px solid #004d40;
    margin-top:15px;
    transition:.4s;
}

#catImage:hover { transform:scale(1.08); opacity:0.9; }

.night { background:#111; color:#fff; }
.night .result-card { background:#333; color:white; border:1px solid #777; }
.night label { color:#d7f2ef; }
